In [ ]:
t = (1, 2, 3, 4, 1, 2, 1, 5, 1)
element = 1
count = t.count(element)
print(f"{element} occurs {count} times in the tuple.")

In [ ]:
t = ("Hello", "World", "Python")
result = " ".join(t)  # Join elements with space
print(result)

In [ ]:
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)

merged = tuple(set(t1 + t2))  # Merge and convert to set to remove duplicates
print(merged)

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2, 3, 4, 5)

is_subset = all(item in t2 for item in t1)  # Check if all elements of t1 exist in t2
print("t1 is a subset of t2:", is_subset)

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
value = tuple1[1][1]  # Access 20 from the nested list
print(value)

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t1, t2 = t2, t1  # Swapping tuples
print("t1:", t1)
print("t2:", t2)

In [ ]:
t = (5, 5, 5, 5)

if all(i == t[0] for i in t):  # Check if all elements are equal to the first one
    print("All items are the same.")
else:
    print("Not all items are the same.")

In [ ]:
t = (1, 2, 3)
t = t + (4,)  # Tuples are immutable, so we create a new tuple
print(t)

In [ ]:
t = (1, 2, 3, 4, 1, 2, 1, 5, 1)
repeats = {item for item in t if t.count(item) > 1}  # Use set comprehension
print("Repeated items:", repeats)

In [ ]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
updated_data = [t[:-1] + (100,) for t in data]  # Replace last element with 100
print(updated_data)

***Real World Questions***

In [ ]:
sales = [('Apple', 10, 2), ('Banana', 5, 1), ('Orange', 8, 1.5)]

total_revenue = sum(quantity * price for _, quantity, price in sales)

print("Total Revenue:", total_revenue)

In [ ]:
prices = [('Monday', 150), ('Tuesday', 155), ('Wednesday', 153)]

highest_price_day = max(prices, key=lambda x: x[1])  # Find the tuple with the max price

print("Day with the highest price:", highest_price_day[0])